.inv {
    height: 600px;
    /*
    float: left;
    clear: both;
*/
}

.header>ul>li {
    float: left;
    margin: 5px 10px;
}

/*.meny li {*/
    /*    border: 4px solid blue;*/
    /*    color: white;*/
    /*    margin-left: 50px;*/
    /*
    margin: 5px;
    width: 570px;
*/
    /*    height: auto;*/
    /*
    display: inline-flex;
    list-style-type: none;
    text-align: right;
    display: inline-block;
    */
    /*}*/
    
    .container {
        position: relative;
        /*    width: 700px;*/
        /*    margin: 0 auto;*/
        /*    float: left;*/
        /*        display: inline-block;*/
    }
    
    .header {
        /* width: 1310px; */
        
        height: 80px;
        /* position: absolute; */
        margin-left: 100px;
        background: url(img/logotip/11.jpg);
        /*    border: 2px solid #000;*/
    }
    
    .footer {
        background-color: lightsteelblue;
        height: 50px;
        text-align: right;
        padding-top: 30px;
        padding-right: 50px;
        clear: both;
        /*    overflow: hidden;*/
    }

/*
.map {
    width: 100%;
    height: 374px;
}
*/

.gitar {
    /*    margin-top: 100px;*/
    position: relative;
    float: left;
    /*        height: 600px;*/
    /*        margin: 0 auto;*/
}

.gitar {
    /*    border: 7px solid #000;*/
    margin-right: 15px;
    margin-top: 100px;
    /*    clear: both;*/
    /*    background-color: aquamarine;*/
}


.prod_cat1 {
    position: absolute;
    top: 50px;
    left: 30px;
    /*    background-color: #ccc;*/
}

.prod_cat2 {
    top: 70px;
    left: 190px;
    position: absolute;
    /*    background-color: #ccc;*/
}

.prod_cat3 {
    top: 50px;
    position: absolute;
    left: 520px;
    /*    background-color: #ccc;*/
}

.butt_buy {
    background-color: lightskyblue;
    /*    margin-left: 00px;*/
    outline: 3px solid #000;
}

.butt_buy:hover {
    color: brown;
    background-color: yellow;
    outline: 3px solid brown;
}

.butt_buy:active {
    color: white;
    background-color: darkgreen;
    outline: 3px solid blue;
}

.text_main {
    margin-top: auto;
    float: left;
}

.meny li:nth-child(2) a {
    color: #000;
}


/*
.meny li:nth-child(2n) {
    background-color: lightskyblue;
}
*/

.meny li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.meny li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.meny li a:hover {
    color: orchid;
}

.meny li a:active {
    color: green;
}

.meny li:hover:before {
    /*    content: "!!!       ";*/
    color: red;
}


/*
.meny li {
    width:auto;
    
}
*/

.logo {
    position: absolute;
    margin-left: 17px;
    /*    border: 2px solid #000;*/
    float: left;
}

.menu a {
    display: block;
    height: 100%;
}


/*
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/

input,
textarea {
    text-transform: capitalize;
}


/*
div {
    display: block;
    border: 1px solid #000;
    border: none;
        width: 200px;
        height: 200px;
}
*/


/*.five {background-color: aquamarine}*/

.tab2 td {
    border: 1px solid black;
    height: auto;
    vertical-align: top;
    padding-top: 30px;
}

.tab2 {
    /*    text-align: center;*/
    border: 1px solid #000;
    width: 400px;
    height: 200;
    /*    border-spacing: 10px;*/
}

.tab {
    text-align: center;
    border: 1px solid #000;
    width: 400px;
    height: 200;
    border-spacing: 10px;
    border-collapse: collapse;
}

.tab td {
    border: 1px solid black;
    height: auto;
    vertical-align: top;
    padding-top: 10px;
}


/*
table {
    border: 1px solid #000;
    width: 400px;
    height: 200;
}

td {
    border: 1px solid #000;
    height: auto;
}
*/

.texxt:first-letter {
    /*    text-transform: capitalize;*/
    color: blue;
    font-size: 40px;
    font-style: italic;
}

.lst_qwe li:nth-child(3):after {
    content: " новинка";
    color: blueviolet;
    text-transform: uppercase;
}

.im {
    outline: 3px solid brown;
}

.im:hover {
    outline: none;
}

.im_p {
    outline: 3px solid grey;
}

.im_p:hover {
    outline: none;
}


/*
.product {
    outline: 3px solid grey;
}

.product:hover {
    outline: none;
}
*/

input[type="text"]:focus {
    background-color: skyblue;
    font-family: Tahoma;
    width: auto;
    height: 1.5em;
    color: white;
    font-size: 1.5em;
    border-radius: 3px;
}

input[type="email"]:focus {
    background-color: skyblue;
    font-family: Tahoma;
    width: auto;
    height: 1.5em;
    color: white;
    font-size: 1.5em;
    border-radius: 3px;
}

textarea:focus {
    background-color: skyblue;
    height: 7em;
    width: 23em;
    color: white;
    font-size: 1.5em;
}

.ttt {
    width: 23em;
    border-radius: 3px;
    font-size: 15px;
}

.hhh {
    color: black;
    font-size: 25px;
    font-weight: 400;
    background-color: #eaeaea;
    
    /*
    background-color: #ccc;
    text-align: center;
    border: 4px solid blue;
*/
}

.blue {
    color: blue;
    /*
    background-image: url(img/studiomon.jpg);
    background-repeat: no-repeat;
    background-position:  20px 40px;
*/
    background: url(img/studiomon.jpg) no-repeat 20px 50px;
}

p {
    font-size: 1.3em;
}


/*
img[alt="tum"] {
    border: 6px solid green
}
*/

.list {
    list-style-type: none;
}

.link {
    font-style: italic;
    text-decoration-color: blue;
    text-transform: uppercase;
}


/*
.list >li {
    width: 70px;
    height: 20px;
    border: 2px solid #000;
}
*/

.list + p {
    color: darkgreen;
}


/*
h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}
*/

p,
h1,
h3 {
    text-align: center;
}

p {
    text-align: left! important;
}

p {
    text-align: right
}


/*
.meny li{border: 1px solid blue;
height: 50px;}
*/


/*
li {
    width: 100px;
    height: 30px;
    border: 2px solid green;
}*/

body {
    background: #f8f8f8;
}

.meny {
    list-style-type: none;
    font-style: oblique;
    font-size: 25px;
}

.sd {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.li_sd {
    text-transform: capitalize;
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.li_sd:first-letter {
    /*    text-transform: capitalize;*/
    color: red;
    font-size: 40px;
    font-style: italic;
}

.sd:first-letter {
    /*    text-transform: capitalize;*/
    color: red;
    font-size: 40px;
    font-style: italic;
}

.lst {
    list-style-image: url(img/for_lst/dipiano3.jpg);
    color: darkgreen;
    border: 2px solid green;
}

.lst2 {
    list-style-image: url(img/for_lst/gitara3.jpg);
    color: darkgreen;
    border: 2px solid green;
}

.lst3 {
    list-style-image: url(img/for_lst/studiomon3.jpg);
    color: darkgreen;
    border: 2px solid green;
}