{% extends 'mainapp/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block content %}
    <div class="text_main">
        <h3>Информация о&nbsp;магазине</h3>
        <p>
            Добро пожаловать в&nbsp;интернет магазин музыкальных товаров! У&nbsp;нас вы&nbsp;найдете не&nbsp;только
            огромный ассортимент инструментов для музыкантов, но&nbsp;и&nbsp;широкий выбор светового и&nbsp;звукового
            оборудования. Мы&nbsp;предлагаем качественную продукцию от&nbsp;известных брендов по&nbsp;разумным ценам.
            Ознакомиться с&nbsp;основными характеристиками изделий и&nbsp;уточнить их&nbsp;стоимость можно
            в&nbsp;удобном тематическом каталоге.</p>
        <p>Ассортимент интернет магазина акустического и&nbsp;светового оборудования, а&nbsp;также музыкальных
            инструментов рассчитан на&nbsp;широкий круг потребителей Москвы. Приобрести все необходимое здесь смогут
            не&nbsp;только профессионалы, но&nbsp;и&nbsp;начинающие, и&nbsp;даже&nbsp;те, кто никогда не&nbsp;играл.
            Продавцы-консультанты окажут помощь при выборе и&nbsp;предоставят полную информацию о&nbsp;продукции.</p>
        <p>В&nbsp;интернет магазине музыкальных товаров предлагаются к&nbsp;продаже духовые, клавишные, струнные
            устройства, гитары, комбо, акустика, звуковое и&nbsp;световое оснащение, электронная техника и&nbsp;многое
            другое. Выбрать именно&nbsp;то, что нужно&nbsp;&mdash; всегда непросто. Для этого существует два пути:
            тратить время и&nbsp;силы на&nbsp;бесконечное хождение по&nbsp;торговым точкам или обратиться
            к&nbsp;нам&nbsp;&mdash; мы&nbsp;поможем найти оптимальный вариант для комфортной работы.</p>
        <p>Интернет магазин музыкальных инструментов находится в&nbsp;Москве и&nbsp;отправляет товары во&nbsp;все
            регионы России. Для столицы и&nbsp;области действует курьерская доставка. Мы&nbsp;индивидуально работаем
            с&nbsp;каждым клиентом и&nbsp;принимаем Ваши звонки круглосуточно. Ответы на&nbsp;вопросы о&nbsp;скидках,
            акциях, оплате и&nbsp;прочем можно получить на&nbsp;сайте, а&nbsp;также обратившись по&nbsp;контактным
            телефонам к&nbsp;менеджерам. Наши сотрудники всегда внимательны и&nbsp;вежливы, они предоставят
            профессиональную консультацию и&nbsp;помогут сориентироваться при выборе.</p>
    </div>
    <button style="background-color: powderblue"><a href="{% url 'products' %}">Начать покупки</a></button>
    <hr>
{% endblock %}



