{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/style.css' %}>
{% endblock %}

{% block content %}
 {% for category in categories %}
    <div style="font-size: 24px"><a href="#">{{ category }}</a></div>

 {% endfor %}


    <div class="cat_prod">
        <div class="insnt_diff">
            {% for elem in products %}
                <div class="prod_discr">
                    <div><img src="/media/{{ elem.image }}" width="250" alt="#"></div>
                    <p class="discr_lt" style="font-size: 20px">Описание: {{ elem.description }} </p>
                    <p class="discr_lt ltl" style="font-size: 20px">категория - {{ elem.category.name }}</p>
                    <p class="discr_lt ltl" style="font-size: 20px">{{ elem.name }}</p>
                    <p class="discr_lt" style="font-size: 20px">{{ elem.price }} руб. </p>
                    <button class="baza" style="font-size: 20px"> купить</button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="inv"></div>
{% endblock %}
