<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Каталог товаров </title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Интернет магазин музыкальных инструментов/Каталог</h1>
    <div class="container">
        <div class="logo"> <img src="/static/img/logotip/logo3.png" alt=""></div>
        <div class="header">

            <ul class="meny">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'products' %}">Каталог</a></li>
                <li><a href="#">Войти</a></li>
            </ul>
        </div>
    </div>
   <hr>

    <div class="gitar">
        <hr>
        <div class="prod_cat1">
            <a href="piano.html" target="_blank"><img src="/static/img/for_catalog/dipiano2.jpg"></a> <br>Пианио цифровое </div>
        <div class="prod_cat2">
            <a href="gitara.html" target="_blank"> <img src="/static/img/for_catalog/gitara2.jpg"></a><br> Гитара </div>
        <div class="prod_cat3">
            <a href="tumba.html" target="_blank"><img src="/static/img/for_catalog/studiomon2.jpg" width="120"></a> <br>Тумба </div>
    </div>
    <div class="inv"></div>


      <div class="footer">
        <footer> Все права защищены &#169; &nbsp;2020 <a class="link" href="https://aliexpress.ru" target="_blank">aliexpress</a> </footer>
    </div>
</body>

</html>